{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'evil/style.css'%}" />
<div id="index_root">
  <div id="book"></div>
  <i id="root_text">
    <div class="root_text_section">
      Not all the inhabitants of Neopia are friendly, in fact there are a
      certain few that possess no greater desire than to kill and eat your pet.
    </div>
    <div class="root_text_section">
      The Gallery of Evil is dedicated to these creatures, or at least what we
      know about them. All the encounters with these strange, savage, wandering
      beasts have been recorded.
    </div>
    <div class="root_text_section">
      Remember their names, although there is only a small chance that you will
      come across these monsters.
    </div>
    <div class="root_text_section">
      If you do, you would be well advised to run as fast as you can.
    </div>
  </i>

  <div>
    <a href="showcreature/1">
      <img
        alt="Book of evil enter button"
        src="{% static 'evil/images/enter.gif'%}"
      />
    </a>
  </div>
</div>

<script
  type="text/javascript"
  src="{% static 'evil/bookonclick.js' %}"
></script>
