<i>
  Not all the inhabitants of Neopia are friendly, in fact there are a certain
  few that possess no greater desire than to kill and eat your pet. The Gallery
  of Evil is dedicated to these creatures, or at least what we know about them.
  All the encounters with these strange, savage, wandering beasts have been
  recorded. Remember their names, although there is only a small chance that you
  will come across these monsters. If you do, you would be well advised to run
  as fast as you can.
</i>

<div><a href="showcreature/1">Enter</a></div>
