{% load static %}
<b>{{entity.entity_name}}</b>
<p>{{entity.text_entry}}</p>
<img src="{{entity.image.url}}" />
{% if entityList %}
<select value="{{entity.id}}">
  {% for entity_entry in entityList %} 
  <option 
    {% if entity.id == entity_entry.id %}selected{% endif %} 
    value="{{entity_entry.id}}"
  >
      {{ entity_entry.entity_name}} 
  </option>
  {% endfor %}
</select>
{% else %}
<p>Didn't get entity list</p>
{% endif %}

<script
  type="text/javascript"
  src="{% static 'evil/entity_selector_contoller.js' %}"
></script>
