{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'evil/style.css'%}" />
<b id="entity_page_header">Gallery of Evil</b>
<div id="entity_content">
  <div id="entity_entry_row">
    <div id="entity_text_content">
      <b>{{entity_name}}</b>
      {% autoescape off %}
      <p>{{entity_entry}}</p>
      {% endautoescape %}
    </div>
    <img alt="{{entity_alt_text}}"" src="{% static entity_image %}" />
  </div>
  {% if entity_list %}
  <select id="entity_selector" value="{{entity.id}}">
    {% for entity_item in entity_list %} 
    <option 
      {% if forloop.counter == selected_id %}selected{% endif %} 
      value="{{ forloop.counter }}"
    >
      {{ entity_item.name }} 
    </option>
    {% endfor %}
  </select>
  {% else %}
  <p>Didn't get entity list</p>
  {% endif %}
  <div id="navigation_button_row">
    <a 
      href="/evil/showcreature/{{prev_index}}">
      <img 
        alt="Book of Evil back button" 
        src="{% static 'evil/images/arrow_end.gif' %}" 
      /></a>
    <a 
      href="/evil/"> 
      <img 
        alt="Book of Evil index button" 
        src="{% static 'evil/images/80x80_icon.gif' %}" 
      /></a>
    <a 
      href="/evil/showcreature/{{next_index}}"> 
      <img 
        alt="Book of Evil forward button" 
        src="{% static 'evil/images/arrow_beg.gif' %}" 
      /></a>
  </div>
</div>

<script
  type="text/javascript"
  
  src="{% static 'evil\entity_navigator_controller.js' %}"
></script>
