/* Index page styling  */
#index_root{
  width: 480px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#book{
  display: block;
  width: 480px;
  height: 210px;
  background: url("images/evil_book_1.gif");
}

#book:hover{
  background: url("images/evil_book2_1.gif");
  cursor: pointer;
}

#root_text{
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.root_text_section{ 
  padding-top: 1em;
}

/* Entity page styling  */
#entity_content { 
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entity_entry_row {
  display: flex; 
  flex-direction: row;
}

#entity_text_content { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navigation_button_row{ 
  padding-top: 4px;
}